{% extends 'base.html' %}

{% block content %}
<form style="display:none;">
    {% csrf_token %}
</form>

<div class="titulo-pagina">
    <h2>Gestión de Usuarios</h2>
    <p>Panel de revisión de datos generales de la plataforma</p>
</div>
<div class="container">
    <div class="table-responsive text-center">
        <table class="table table-dark table-hover table-striped align-middle custom-table">
            <thead class="table-secondary custom-table-header">
                <tr>
                    <th scope="col" class="custom-table-header-cell">Nombre</th>
                    <th scope="col" class="custom-table-header-cell">Apellido</th>
                    <th scope="col" class="custom-table-header-cell">Plataforma</th>
                    <th scope="col" class="custom-table-header-cell">Usuario</th>
                    <th scope="col" class="custom-table-header-cell">Clave</th>
                    <th scope="col" class="custom-table-header-cell">F. Expiración</th>
                    <th scope="col" class="custom-table-header-cell">Días</th>
                    <th scope="col" class="custom-table-header-cell">Habilitado</th>
                    <th scope="col" class="custom-table-header-cell">Acciones</th>
                </tr>
            </thead>
            <tbody class="custom-table-body">
                {% for usuario in object_list %}
                <tr {% if usuario.dias_restantes is not None and usuario.dias_restantes <= 3 %}class="table-danger"{% endif %}>
                    <td class="custom-table-cell text-capitalize">{{ usuario.nombre }}</td>
                    <td class="custom-table-cell text-capitalize">{{ usuario.apellido }}</td>
                    <td class="custom-table-cell">{{ usuario.plataforma }}</td>
                    <td class="custom-table-cell">{{ usuario.nombre_usuario_plataforma }}</td>
                    <td class="custom-table-cell">{{ usuario.clave_usuario_plataforma }}</td>
                    <td class="custom-table-cell">{{ usuario.fecha_expiracion }}</td>
                    <td class="custom-table-cell">{{ usuario.dias_restantes }}</td>
                    <td class="custom-table-cell">
                        {% if usuario.habilitado %}
                        <span class="dot bg-success"></span>
                        {% else %}
                        <span class="dot bg-danger"></span>
                        {% endif %}
                    </td>
                    <td class="custom-table-cell">
                        <!-- Botón Eliminar -->
                        <button class="btn btn-sm btn-outline-danger custom-btn d-none d-md-inline me-1" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ usuario.pk }}" data-nombre="{{ usuario.nombre }}" data-apellido="{{ usuario.apellido }}">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger custom-btn d-inline d-md-none" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ usuario.pk }}" data-nombre="{{ usuario.nombre }}" data-apellido="{{ usuario.apellido }}">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-end mt-3">
        <a href="{% url 'usuario_create' %}" class="btn btn-success custom-btn_crear">Crear Usuario</a>
    </div>
</div>

<!-- Modal de Confirmación de Eliminación -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                <p>¿Realmente deseas eliminar al usuario <strong id="deleteUserName"></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmDeleteButton" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Éxito -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="successModalLabel">Usuario Eliminado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                <p>El usuario <strong id="deleteUserName"></strong> ha sido eliminado con éxito.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


