{% extends 'base.html' %}

{% block content %}
<div class="titulo-pagina">
    <h2>Gestión de Usuarios</h2>
    <p>Crear usuario dentro de la plataforma</p>
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="nombre" class="form-label small">Nombre</label>
                {{ form.nombre }}
                <small class="form-text text-muted">Ingrese el nombre completo.</small>
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label small">Apellido</label>
                {{ form.apellido }}
                <small class="form-text text-muted">Ingrese el apellido.</small>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="plataforma" class="form-label small">Plataforma</label>
                {{ form.plataforma }}
            </div>
            <div class="col-md-6">
                <label for="habilitado" class="form-label small">Habilitado</label>
                {{ form.habilitado }}
            </div>            
        </div>
        
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="nombre_usuario_plataforma" class="form-label small">Nombre de Usuario en Plataforma</label>
                {{ form.nombre_usuario_plataforma }}
            </div>
            <div class="col-md-6">
                <label for="clave_usuario_plataforma" class="form-label small">Clave de Usuario en Plataforma</label>
                {{ form.clave_usuario_plataforma }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="fecha_inicio" class="form-label small">Fecha de Inicio</label>
                {{ form.fecha_inicio }}
            </div>
            <div class="col-md-6">
                <label for="meses" class="form-label small">Cantidad de Meses</label>
                {{ form.meses }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="observaciones" class="form-label small">Observaciones</label>
                {{ form.observaciones }}
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-sm mt-3">Guardar</button>
        <a href="{% url 'usuario_list' %}" class="btn btn-secondary btn-sm mt-3">Cancelar</a>
    </form>
</div>
{% endblock %}
