/* ==VARIABLES==================================== */
:root {
    --color-primary: #6c757d;
    --color-secondary: #adb5bd;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-dark: #343a40;
    --color-light: #f8f9fa;
    --color-negro: #000000;
    --color-navbar: rgb(77, 47, 245);
    --background-color: var(--bs-table-bg);
}

/* ==NAVBAR BUTTONS==================================== */
.btn-logout {
    background-color: var(--color-danger) !important;
    border: 1.5px solid var(--color-primary) !important;
}

.btn-logout:hover {
    background-color: darkred;
    border: 1px solid var(--color-secondary) !important;
}

/* ==GENERAL==================================== */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Nunito Sans", sans-serif !important;
}



/* ==PRODUCTS SECTION==================================== */
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}


/* ==CTA BUTTON==================================== */
.cta-button {
    background-color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--color-secondary);
}

/* ==ROUNDED==================================== */
.rounded {
    border-radius: 15px;
}

/* ==TABLE==================================== */
.custom-table-header-cell {
    text-align: center;
}

.custom-table-body {
    text-align: center;
}

.custom-table-header {
    background-color: var(--color-secondary);
}

.custom-table-cell {
    vertical-align: middle;
    text-align: center;
}

/* ==MODAL==================================== */
.custom-modal-content {
    background-color: var(--color-dark);
}

.table-danger {
    --bs-table-striped-bg: #7b000cc8;
    --bs-table-hover-bg: #7b000caa;
}

/* ==FUTURISTIC CARD==================================== */

.card.card-busqueda {
    border: 1px solid rgb(79, 78, 78);
}

.card-busqueda:hover {
    transform: scale(1.05);
    border: 1px solid #afaa4c;
}

.futuristic-card {
    background: linear-gradient(135deg, #2b2b2b, #1f1f1f);
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.futuristic-card .card-header {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #afaa4c;
}

.futuristic-card .card-body {
    padding: 2rem;
}

.futuristic-card .card-title {
    color: #4caf50;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.futuristic-card .card-text {
    font-size: 0.8rem;
    font-weight: 1e00;
    color: #ffffff;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-body a.btn-link {
    color: #4caf50;
    font-size: 1rem;
    text-decoration: none;
}

.card-body a.btn-link:hover {
    color: #81c784;
    text-decoration: underline;
}

/* ==Titulo y parrafo de secciones==================================== */
.titulo-pagina {
    margin-top: 4.9rem !important;
    text-align: center;
    background: linear-gradient(135deg, #2b2b2b, #1f1f1f);
    padding: 1rem 0 0 0;
    border-bottom: 2px solid #535353;
    font-weight: 100;
}

.titulo-pagina h2 {
    font-weight: 400;
    font-size: 2.5rem;
}

/* ==espacio bajo el titulo entre secciones==================================== */
.container {
    max-width: 1445px;
    margin-top: 40px;
}

/* ==CONTENT WRAPPER==================================== */
.content-wrapper {
    margin-top: 56px;
    /* Ajusta este valor según la altura de tu navbar */
}

/* Slider de logos */
.logo-carrusel {
    margin: 1rem auto;
    width: 80%;
}

.slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slick-slide-content img {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 100%;
    filter: grayscale(100%);
    transition: filter 0.2s ease;
    border-radius: 10px;
}

.slick-slide-content img:hover {
    filter: grayscale(0%);
}


/* BANNER SLIDER HOME */


.banner-slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-slide img {
    width: 100%;
    /* Ajusta la imagen al ancho del slider */
    height: auto;
    /* Mantiene la proporción de la imagen */
    object-fit: cover;
    /* Asegura que la imagen cubra todo el contenedor */
    object-position: center;
}

.banner-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente para el texto */
    padding: 10px;
    border-radius: 5px;
    right: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    /* Incluye el padding en el tamaño total */
    z-index: 10;
}

.banner-caption h2,
.banner-caption h4,
.banner-caption p {
    margin: 0;
    padding: 0;
}

.banner-caption .btn {
    margin-top: 10px;
}

.banner-caption a.btn {
    margin-top: 10px;
}


/* Estilos para las flechas de navegación */
.slick-prev,
.slick-next {
    background-color: transparent;
    /* Fondo oscuro */
    color: white;
    /* Color de las flechas */
    width: 120px;
    /* Tamaño de las flechas */
    height: 100%;
    /* Tamaño de las flechas */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* Asegura que las flechas estén por encima del contenido */
    margin: 0;
}

.slick-prev:before,
.slick-next:before {
    font-size: 50px;
    /* Tamaño del icono de la flecha */
    color: white;
    /* Color de la flecha */
}

.slick-prev:hover,
.slick-next:hover {
    background-color: transparent;
    /* Fondo oscuro */

}

.slick-prev {
    left: 1px;
    /* Posición horizontal desde la izquierda */
}

.slick-next {
    right: 1px;
    /* Posición horizontal desde la derecha */
}

/* Estilo para ocultar los botones en dispositivos móviles */
@media (max-width: 768px) {

    .slick-prev,
    .slick-next {
        display: none !important;
        /* Oculta los botones de navegación en dispositivos móviles */
    }

    .banner-slider {
        height: 718px;
    }
}

/* NUEVO NAVBAR *//* Tu código CSS existente */

.promo_banner {
    background-color: #ffe558d4;
    text-align: center;
    color: #363636;
    transition: all .3s linear;
    font-weight: 400;
  }

.navbar-top {
    background-color: #bd6d267d;
    padding: 0.5rem 1rem;
    height:70px;
  }
  .navbar-bottom {
    background-color: #ffe7d6e5;
    padding: 0.5rem 1rem;
  }
  .navbar-brand {
    font-weight: bold;
    color: #ffffff !important;
    font-size: 1.5rem;
  }
  .navbar-brand img {
    height: 100%;
    width: 100%;
    max-width: 87px;
}
  .form-control {
    border-radius: 20px 0 0 20px;
  }
  .btn-search {
    background-color: #82463c5e;
    /* border-color: #ffc107; */
    color: #ffffff;
    border-radius: 0 20px 20px 0;
  }
  .nav-link {
    color: #ffffff !important;
  }

  .nav-item:hover {
    background: #dfb794;
    padding: 0;
  }
  .navbar-bottom .nav-link {
    color: #000 !important;
  }
  .btn-outlet,
  .btn-oferta {
    transition: background-color 0.3s ease;
  }
  .btn-outlet {
    background-color: #ffc107;
    color: #000 !important;
  }
  .btn-outlet:hover {
    background-color: #e0a800;
  }
  .btn-oferta {
    background-color: #0d6efd;
    color: #fff !important;
  }
  .btn-oferta:hover {
    background-color: #0b5ed7;
  }
  .tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
  }
  .tabbar-btn {
    color: #333;
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tabbar-btn i {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .tabbar-btn.active {
    color: #0d6efd;
  }
  .btn-cart {
    background-color: #0d6efd;
    color: white !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .navbar-bottom .search-form {
    display: none;
  }
  @media (max-width: 991px) {
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .navbar-nav,
    .navbar-top .search-form,
    .navbar-bottom .navbar-nav {
      display: none;
      height: 80px;
    }
    .navbar-bottom .search-form {
      display: flex;
      width: 80%;
    }
    .tabbar {
      display: flex;
    }
  }
  