/* ==VARIABLES==================================== */
:root {
    --color-primary: #6c757d;
    --color-secondary: #adb5bd;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-dark: #343a40;
    --color-light: #f8f9fa;
    --color-negro: #000000;
    --color-navbar: rgb(77, 47, 245);
    --background-color: var(--bs-table-bg);
}

/* ==GENERAL==================================== */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Nunito Sans", sans-serif !important;
}

/* ==HERO SECTION==================================== */
.hero-section {
    margin-top: 56px; /* Ajusta el espacio del navbar fijo */
    height: calc(100vh - 56px); /* Altura de la sección menos el navbar */
}

/* ==PRODUCTS SECTION==================================== */
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}


/* ==CTA BUTTON==================================== */
.cta-button {
    background-color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--color-secondary);
}

/* ==ROUNDED==================================== */
.rounded {
    border-radius: 15px;
}

/* ==NAVBAR==================================== */
.navbar {
    border-bottom: 1px solid white;
    background: linear-gradient(90deg, #2c3e50, #34495e 50%, #2c3e50);
    /* background: linear-gradient(90deg, #8a26e1 2%, #e32e9f 36%, #e32e9f 67%, #fe3e31 98%); */
}

.navbar-brand img {
    height: 100%;
    width: 100%;
    max-width: 90px;
}
.nav-item a{
    color: var(--color-light);
}
.nav-item a:hover{
    color: var(--color-secondary);
}


/* ==NAVBAR BUTTONS==================================== */
.btn-logout {
    color: white;
    background-color: var(--color-danger) !important;
    border: 1.5px solid var(--color-primary) !important;
}

.btn-logout:hover {
    background-color: darkred;
    color: white;
    border: 1.5px solid var(--color-secondary) !important;
}

.btn-buscar {
    color: var(--color-light);
    border: 1.5px solid var(--color-light) !important;
}

.btn-buscar:hover {
    border: 1px solid var(--color-primary) !important;
    background-color: black;
    border: 1.5px solid var(--color-secondary) !important;
}

.btn-login {
    color: white;
    border: 1px solid var(--color-light) !important;
    background-color: var(--color-success);
}

.btn-login:hover {
    border: 1px solid var(--color-primary) !important;
    background-color: black;
    border: 1px solid var(--color-light) !important;
}

/* ==TABLE==================================== */
.custom-table-header-cell {
    text-align: center;
}

.custom-table-body {
    text-align: center;
}

.custom-table-header {
    background-color: var(--color-secondary);
}

.custom-table-cell {
    vertical-align: middle;
    text-align: center;
}

/* ==MODAL==================================== */
.custom-modal-content {
    background-color: var(--color-dark);
}

.table-danger {
    --bs-table-striped-bg: #7b000cc8;
    --bs-table-hover-bg: #7b000caa;
}

/* ==FUTURISTIC CARD==================================== */

.card.card-busqueda {
    border: 1px solid rgb(79, 78, 78);
}
.card-busqueda:hover {
    transform: scale(1.05);
    border: 1px solid #afaa4c;
}

.futuristic-card {
    background: linear-gradient(135deg, #2b2b2b, #1f1f1f);
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.futuristic-card .card-header {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #afaa4c;
}

.futuristic-card .card-body {
    padding: 2rem;
}

.futuristic-card .card-title {
    color: #4caf50;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.futuristic-card .card-text {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
}

.card-body a.btn-link {
    color: #4caf50;
    font-size: 1rem;
    text-decoration: none;
}

.card-body a.btn-link:hover {
    color: #81c784;
    text-decoration: underline;
}

/* ==Titulo y parrafo de secciones==================================== */
.titulo-pagina {
    margin-top: 4.9rem !important; 
    text-align: center;
    background: linear-gradient(135deg, #2b2b2b, #1f1f1f);
    padding: 1rem 0 0 0;
    border-bottom:2px solid #535353;
    font-weight: 100;
}
.titulo-pagina h2{
    font-weight: 400;
    font-size: 2.5rem;
}
/* ==espacio bajo el titulo entre secciones==================================== */
.container {
    max-width: 1445px;
    margin-top: 40px;
}

/* ==CONTENT WRAPPER==================================== */
.content-wrapper {
    margin-top: 56px; /* Ajusta este valor según la altura de tu navbar */
}

/* Slider de logos */
.logo-carrusel {
    margin: 1rem auto;
    width: 80%;
}
.slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.slick-slide-content img {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 100%;
    filter: grayscale(100%);
    transition: filter 0.2s ease;
    border-radius: 10px;
}
.slick-slide-content img:hover {
    filter: grayscale(0%);
}


/* BANNER SLIDER HOME */
.banner-slider {
    position: relative;
    overflow: hidden;
    height: 432px;
    top: 79px;
}

.banner-slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    object-position: center;
}

.banner-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
    z-index: 10;
}

.banner-caption h2,
.banner-caption h4,
.banner-caption p {
    margin: 0;
}

.banner-caption a.btn {
    margin-top: 10px;
}

/* Estilos para las flechas de navegación */
.slick-prev, .slick-next {
    background-color: #333333a1; /* Fondo oscuro */
    color:white; /* Color de las flechas */
    width: 120px; /* Tamaño de las flechas */
    height: 100%; /* Tamaño de las flechas */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Asegura que las flechas estén por encima del contenido */
    margin: 0;
}

.slick-prev:before, .slick-next:before {
    font-size: 50px; /* Tamaño del icono de la flecha */
    color: white; /* Color de la flecha */
}
.slick-prev:hover, .slick-next:hover {
    background-color: #333333ce; /* Fondo oscuro */

}

.slick-prev {
    left: 1px; /* Posición horizontal desde la izquierda */
}

.slick-next {
    right: 1px; /* Posición horizontal desde la derecha */
}

/* ############################################################ */
