:root {
    --color-primary: #6c757d;
    /* Gris oscuro */
    --color-secondary: #adb5bd;
    /* Gris más claro */
    --color-success: #28a745;
    /* Verde */
    --color-danger: #dc3545;
    /* Rojo */
    --color-warning: #ffc107;
    /* Amarillo */
    --color-dark: #343a40;
    /* Gris muy oscuro */
    --color-light: #f8f9fa;
    /* Gris muy claro */
    --color-negro: #000000;
    /* negro */
    --background-color: var(--bs-table-bg);
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body,
html,
nav {
    font-family: "Nunito Sans", sans-serif !important;
}

/* Hero Section */
.hero-section {
    margin-top: 56px;
    /* Para compensar el espacio del navbar fijo */
    height: calc(100vh - 56px);
    /* Ajusta la altura de la sección para que ocupe toda la pantalla menos el navbar */
}

/* Carousel captions styling */
.carousel-caption h5 {
    font-size: 2rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1.2rem;
}

/* Products Section */
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

/* Sección de Imagen y Texto */
.cta-button {
    background-color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--color-secondary);
}

.rounded {
    border-radius: 15px;
    /* Bordes redondeados para la imagen */
}

.text-center {
    text-align: center;
}

.navbar {
    padding: 5px 0 0 0;
    border-bottom: 1px solid var(--color-secondary);
}

.navbar-brand img {
    height: 100%;
    width: 100%;
    max-width: 90px;
}

.btn-logout {
    color: white;
    background-color: var(--color-danger) !important;
    border: 1.5px solid var(--color-primary) !important;
}

.btn-logout:hover {
    background-color: darkred;
    color: white;
    border: 1.5px solid var(--color-secondary) !important;
}

.btn-buscar {
    color: white;
    border: 1.5px solid var(--color-primary) !important;
}

.btn-buscar:hover {
    border: 1px solid var(--color-primary) !important;
    background-color: black;
    border: 1.5px solid var(--color-secondary) !important;
}

.btn-login {
    color: white;
    border: 1px solid var(--color-primary) !important;
    background-color: var(--color-primary);
}

.btn-login:hover {
    border: 1px solid var(--color-primary) !important;
    background-color: var(--color-dark);
    border: 1px solid var(--color-danger) !important;
}

/* Tabla de Usuarios */
.custom-table-header-cell {
    text-align: center;
}

.custom-table-body {
    text-align: center;
}

.custom-table-header {
    background-color: var(--color-secondary);
}

/* .custom-table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
} */

.custom-table-cell {
    vertical-align: middle;
    text-align: center;
}

.custom-btn {
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.btn-outline-secondary {
    color: var(--color-primary);
    border-color: var(--color-primary);
    padding: 3px;
}

.btn-outline-secondary:hover {
    color: #ffffff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.bg-success {
    background-color: var(--color-success) !important;
}

.bg-danger {
    background-color: var(--color-danger) !important;
}

/* Modal */
.custom-modal-content {
    background-color: var(--color-dark);
}

.table-danger {
    --bs-table-striped-bg: #7b000cc8;
    --bs-table-hover-bg: #7b000caa;
}


.futuristic-card {
    background: linear-gradient(135deg, #2b2b2b, #1f1f1f);
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.futuristic-card .card-header {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #afaa4c;
}

.futuristic-card .card-body {
    padding: 2rem;
}

.futuristic-card .card-title {
    color: #4caf50;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.futuristic-card .card-text {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
}

.card-body a.btn-link {
    color: #4caf50;
    font-size: 1rem;
    text-decoration: none;
}

.card-body a.btn-link:hover {
    color: #81c784;
    text-decoration: underline;
}

.container {
    max-width: 1340px;
    margin-top: 130px;
  }

h2{
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 2rem;
}
.content-wrapper {
    margin-top: 56px; /* Ajusta este valor según la altura de tu navbar */
}

/* static/css/styles.css */
.carousel-item img {
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
