{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos esenciales -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Descripción breve de tu sitio web">
    <meta name="keywords" content="palabras clave, separadas, por, comas">
    <meta name="author" content="Tu Nombre o el de tu Empresa">
    
    <!-- Título de la página -->
    <title>{% block title %}Sistema de gestión{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    
    <!-- CSS de Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Íconos de Bootstrap (opcional) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    
    <!-- Fuente de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    
    <!-- CSS adicional (personalizado) -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    {% include 'parts/header.html' %}
    <div class="promo_banner"> <p class="p-2 m-0">Compra antes de las 13:00 hrs de lunes a sábado y recibe el mismo día -⚡ DESPACHO EXPRESS MENOS DE 3 HORAS⚡</p> </div>

    <div class="text-capitalize">
        
    {% include 'parts/navbar.html' %}
    {% block content %}{% endblock %}
    </div>

    {% include 'parts/footer.html' %}

    <!-- Scripts adicionales -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>
