{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadatos esenciales -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Descripción breve de tu sitio web">
    <meta name="keywords" content="palabras clave, separadas, por, comas">
    <meta name="author" content="Tu Nombre o el de tu Empresa">

    <!-- Título de la página -->
    <title>{% block title %}Sistema de gestión{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Íconos de Bootstrap (opcional) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">

    <!-- CSS adicional (personalizado) -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Fuente de Google Fonts (opcional) -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Open Graph / Redes Sociales (opcional) -->
    <meta property="og:title" content="Título de la Página">
    <meta property="og:description" content="Descripción de la Página">
    <meta property="og:image" content="{% static 'img/social-preview.png' %}">
    <meta property="og:url" content="https://www.tusitio.com">
    <meta name="twitter:card" content="summary_large_image">

    <!-- CSS para ajustes específicos de compatibilidad o soporte -->
    <style>
        /* Estilos adicionales que pueden ser necesarios */
    </style>
</head>


{% include 'parts/header.html' %}

<body>
    {% include 'parts/navbar.html' %}
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'parts/footer.html' %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

</body>

</html>