@tailwind base;
@tailwind components;
@tailwind utilities;


/* ==VARIABLES==================================== */
:root {
    --color-primary: #6c757d;
    --color-secondary: #adb5bd;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-dark: #343a40;
    --color-light: #f8f9fa;
    --color-negro: #000000;
    --color-navbar: rgb(77, 47, 245);
    --background-color: var(--bs-table-bg);
}

/* ==GENERAL==================================== */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Nunito Sans", sans-serif !important;
}

/* ==HERO SECTION==================================== */
.hero-section {
    margin-top: 56px; /* Ajusta el espacio del navbar fijo */
    height: calc(100vh - 56px); /* Altura de la sección menos el navbar */
}
#bannerCarousel {
    position: relative;
    width: 100%;
    height: 500px; /* Ajusta el alto según tus necesidades */
    overflow: hidden; /* Asegura que las imágenes no desborden el contenedor */
}

.carousel-inner {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarla */
}

/* ==PRODUCTS SECTION==================================== */
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

/* ==CTA BUTTON==================================== */
.cta-button {
    background-color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--color-secondary);
}

/* ==ROUNDED==================================== */
.rounded {
    border-radius: 15px;
}

.text-center {
    text-align: center;
}

/* ==NAVBAR==================================== */
.navbar {
    border-bottom: 1px solid var(--color-secondary);
    background: linear-gradient(90deg, #8a26e1 2%, #e32e9f 36%, #e32e9f 67%, #fe3e31 98%);
}

.navbar-brand img {
    height: 100%;
    width: 100%;
    max-width: 90px;
}
.nav-item a{
    color: var(--color-light);
}
.nav-item a:hover{
    color: var(--color-secondary);
}


/* ==NAVBAR BUTTONS==================================== */
.btn-logout {
    color: white;
    background-color: var(--color-danger) !important;
    border: 1.5px solid var(--color-primary) !important;
}

.btn-logout:hover {
    background-color: darkred;
    color: white;
    border: 1.5px solid var(--color-secondary) !important;
}

.btn-buscar {
    color: var(--color-light);
    border: 1.5px solid var(--color-light) !important;
}

.btn-buscar:hover {
    border: 1px solid var(--color-primary) !important;
    background-color: black;
    border: 1.5px solid var(--color-secondary) !important;
}

.btn-login {
    color: white;
    border: 1px solid var(--color-light) !important;
    background-color: var(--color-success);
}

.btn-login:hover {
    border: 1px solid var(--color-primary) !important;
    background-color: black;
    border: 1px solid var(--color-light) !important;
}

/* ==TABLE==================================== */
.custom-table-header-cell {
    text-align: center;
}

.custom-table-body {
    text-align: center;
}

.custom-table-header {
    background-color: var(--color-secondary);
}

.custom-table-cell {
    vertical-align: middle;
    text-align: center;
}

/* ==MODAL==================================== */
.custom-modal-content {
    background-color: var(--color-dark);
}

.table-danger {
    --bs-table-striped-bg: #7b000cc8;
    --bs-table-hover-bg: #7b000caa;
}

/* ==FUTURISTIC CARD==================================== */
.futuristic-card {
    background: linear-gradient(135deg, #2b2b2b, #1f1f1f);
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.futuristic-card .card-header {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #afaa4c;
}

.futuristic-card .card-body {
    padding: 2rem;
}

.futuristic-card .card-title {
    color: #4caf50;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.futuristic-card .card-text {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
}

.card-body a.btn-link {
    color: #4caf50;
    font-size: 1rem;
    text-decoration: none;
}

.card-body a.btn-link:hover {
    color: #81c784;
    text-decoration: underline;
}

/* ==CONTAINER==================================== */
.container {
    max-width: 1445px;
    margin-top: 85px;
}

/* ==HEADING==================================== */
h2 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 2rem;
}

/* ==CONTENT WRAPPER==================================== */
.content-wrapper {
    margin-top: 56px; /* Ajusta este valor según la altura de tu navbar */
}


/* ==UTILITY CLASSES==================================== */
.d-flex {
    display: flex;
}
