<!-- <footer class="text-center mt-4">
    <div class="container p-4">
        <p>&copy; Vthome 2024. Todos los derechos reservados.</p>
    </div>
</footer> -->
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>TechHome</h5>
                <p>Tu hogar inteligente comienza aquí.</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="#inicio" class="text-white">Inicio</a></li>
                    <li><a href="#productos" class="text-white">Productos</a></li>
                    <li><a href="#caracteristicas" class="text-white">Características</a></li>
                    <li><a href="#contacto" class="text-white">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Email: info@techhome.com</p>
                <p>Teléfono: (123) 456-7890</p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; Vthome 2024. Todos los derechos reservados.</p>

        </div>
    </div>
</footer>