{% load static %}
<div class="banner-slider">
    {% for image in slider_images %}
    <div class="banner-slide">
        <picture>
            <!-- Imagen para pantallas pequeñas (móvil) -->
            {% if image.image_mobile %}
            <source srcset="{{ image.image_mobile.url }}" media="(max-width: 767px)">
            {% endif %}
            <!-- Imagen para pantallas grandes (escritorio) -->
            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.caption }}">
        </picture>

        {% if image.h2_text or image.h4_text or image.paragraph or image.button_text %}
        <div class="banner-caption">
            {% if image.h2_text %}
            <h2>{{ image.h2_text }}</h2>
            {% endif %}
            {% if image.h4_text %}
            <h4>{{ image.h4_text }}</h4>
            {% endif %}
            {% if image.paragraph %}
            <p>{{ image.paragraph }}</p>
            {% endif %}
            {% if image.button_text %}
            <a href="{{ image.button_url }}" class="btn btn-primary">{{ image.button_text }}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>